{% extends 'base.html.twig' %}
{% block body %}


<div class="container">
	<a href="{{ path('add_prod') }}" class="btn btn-outline-secondary" style="margin-top:30px">

	Add Produit</a>

<table id="datatable-buttons" class="table table table-hover m-0">

	<tr>
		<th>Id_Produit</th>
		<th>Name prod</th>
		<th>image</th>
		<th>Prix Unitaire</th>
		<th>Remise</th>
		<th>Sous_category</th>
	     <th>Actions</th>


	</tr>

	<tr>
		{% for prod in prods %}


			<td>{{prod.idProduit}}</td>
			<td>{{prod.nomProd}}</td>
			<td>  <img src="{{ asset('assets/images/') }}{{prod.image}}" style="width:50px;height:50px" > </td>
			<td>{{prod.pu}}</td>
			<td>{{prod.remise}}</td>

			<td>{{prod.sousCategorie.nomSouscat}}</td>

			<td>
				<a href="{{ path('supp_produit',{'id':prod.idProduit}) }}" class="btn btn-outline-secondary">

					Delete</a>

				<a href="{{ path('modify_produit',{'id':prod.idProduit}) }}" class="btn btn-outline-secondary">

					Modify</a>


			</td>

		</tr>

	{% endfor %}

</table>
</div>
{% endblock %}
