{# <form method="post" action="{{ path('Postedit_produit',{'id':id}) }}">


	<div>
		<label>name_prod</label>
		<input type="text" name="prod_name" value={{produit.nomProd}} placeholder="Description">
		<label>price</label>
		<input type="number" name="prod_px" value={{produit.pu}}>
		<label>remise</label>
		<input type="number" name="prod_remise" value={{produit.remise}}>


		<select name="id_souscat">
			{% for souscat in allsousCat %}

				{% if souscat.idSouscat == souscategory.idSouscat %}
					<option value="{{souscat.idSouscat}}" selected>{{souscat.nomSouscat}}</option>
				{% else %}
					<option value="{{souscat.idSouscat}}">{{souscat.nomSouscat}}</option>
				{% endif %}

			{% endfor %}
		</select>

	</div>


	<button type="submit" class="btn btn-info waves-effect w-md waves-light m-b-20">Modify Produit</button>


</form> #}


{% extends 'baseC.html.twig' %}

{% block title %}Ajouter produit
{% endblock %}

{% block body %}
	<style>
		#cont {
			width: 80%;
		}
	</style>
	<script>
		function allowDrop(ev) {
ev.preventDefault();
}

function drag(ev) {
ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
ev.preventDefault();
var data = ev.dataTransfer.getData("text");
ev.target.appendChild(document.getElementById(data));
}
	</script>

	<body>
		<br/>
		<div id="cont" class="card border-secondary container"><br>
			<div class="card-header">
				<h5>Produit</h5>
			</div>
			<div class="card-body">
				<form style="margin-top:-30px" method="post" action="{{ path('Postedit_produit',{'id':id}) }}">
					<div class="row">
						<div class="col-8">
							<div class="form-group">
								<label for="id" class="form-label mt-4">Nom</label>
								<input type="text" name="prod_name" class="form-control" value={{produit.nomProd}} id="id" placeholder="Entrez le nom">
							</div>
							<div class="form-group">
								<label for="prix" class="form-label mt-4">Prix</label>
								<input type="number" name="prod_px" class="form-control" value={{produit.pu}} id="prix" placeholder="Entrez le prix">
							</div>
							<div class="form-group">
								<label for="remise" class="form-label mt-4">Remise</label>
								<input type="number" name="prod_remise" class="form-control" value={{produit.remise}} id="remise" placeholder="Entrez la remise">
							</div>
							<div class="form-group">
								<label for="cat" class="form-label mt-4">Sous Categorie</label>

								<select name="id_souscat">
									{% for souscat in allsousCat %}

										{% if souscat.idSouscat == souscategory.idSouscat %}
											<option value="{{souscat.idSouscat}}" selected>{{souscat.nomSouscat}}</option>
										{% else %}
											<option value="{{souscat.idSouscat}}">{{souscat.nomSouscat}}</option>
										{% endif %}

									{% endfor %}
								</select>

							</div>
							<br/>
						</div>
						<div class="col-4" style="border: 1px solid grey;padding:5px 5px 5px;text-align:center"  ondrop="drop(event)" ondragover="allowDrop(event)">
						<img src="{{produit.image}}" width="100%" height="100%">
						</div>
						<label for="myfile">het taswira :</label>
						<input type="file" id="myfile" name="myfile" >
					</div>
					<div style="text-align:center">
						<button type="submit" class="btn btn-secondary">Modifier</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-1">
			<img id="image" draggable="true" ondragstart="drag(event)" width="100%" height="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKglaR6seIZ52R2pWWn-zK19or1bi8qapfZfhe5QMZSO9qcPqQCxDGOqTILDnf1BnR3iE&usqp=CAU"></div>

		{# <script>
		    alert( document.getElementById("image").src) ;
		</script> #}
	</body>


{% endblock %}
