{% block body %}
	<style>
		body {
			font-family: consolas;
			text-align: center
		}
		table {
			margin-left: 36%
		}
		td,
		th {
			padding: 0 7px;
			width: 25px;
			text-align: center
		}
	</style>

	<p>Bienvenue</p>
	<h2 style="line-height:30px">Carpe Diem</h2>
	<p style="line-height:3px">Route de Gammarth</p>
	<p style="line-height:3px">La Marsa 2070</p>
	<p style="line-height:3px">Tel: 27 330 001</p>
	<p style="line-height:30px"> {{'now'|date('d/m/y')}}
		{{'now'|date('h:m:s')}}
	</p>
	<p style="line-height:3px">Servi par : {{app.user.username}}</p>
	<p style="line-height:3px">Ticket n°: 1234578</p>
	<p style="line-height:3px">-- Table n°:{{numTable}} --</p>
	<br>
	<table>

		<tr>
			<th>Produit</th>
			<th>Qte</th>
			<th>PU</th>
			<th>Remise</th>
			<th>PT</th>

		</tr>
		{% for element in dataPanier %}
			<tr>

				<td>{{ element.produit.nomProd }}</td>
				<td>{{ element.quantite }}</td>
				<td>{{ element.produit.pu }}
				</td>
				<td>{{ element.produit.remise }}
					%
				</td>
				<td style="line-height:40px" colspan="3" style="text-align:center">{{ element.quantite * (element.produit.pu * ( 1- element.produit.remise /100 ) )   }}

				</td>


			</tr>
		{% endfor %}
	</tr>
	<tr>
		<th colspan="4">Total</th>
		<td>{{ total }}</td>
	</tr>
	<tr>
		<td>
			<form method="post" action="{{ path('submit_commande',{'numTable':numTable}) }}">
				<button type="submit" class="btn btn-primary">Imprimer</button>
				<input name="tot" type="number" value="{{total}}" hidden>
			</form>
		</td>

		<td>
			<a href="{{ path('retour_panier',{'numTable':numTable}) }}" class="btn btn-primary">Retour</a>
		</td>
	</tr>

</tfoot></table><br/><p style="line-height:5px">Merci</p><p style="line-height:5px">A bientôt</p>{% endblock %}
