{% extends 'base.html.twig' %}

{% block title %}Employe
{% endblock %}

{% block body %}
	<div class="container">


		<h3>Employe
		</h3>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Username</th>
					<th>Roles</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for employe in employes %}
					<tr>
						<td>{{ employe.id }}</td>
						<td>{{ employe.username }}</td>
						{% for role in employe.roles  %}
							<td>
								{% if role == "ROLES_SERVEUR" %}

									serveur
								{% endif %}

								{% if role == "ROLES_CAISSIER" %}
									caissier
								{% endif %}

								{% if role == "ROLE_ADMIN" %}
									admin
								{% endif %}


							</td>

						{% endfor %}

						{# <td>{{ employe.roles ? employe.roles|json_encode : '' }}</td> #}


						<td>
							<a href="{{ path('remove_emp', {'id': employe.id}) }}" class="btn btn-outline-primary">Delete</a>
							<a href="{{ path('page_edit', {'id': employe.id}) }}" class="btn btn-outline-primary">edit</a>
							{% for role in employe.roles  %}


								<a href="{{ path('employe_show', {'id': employe.id}) }}" class="btn btn-outline-primary">show</a>

							{% endfor %}
						</td>
					</tr>
				</tbody>
			</tbody>
		</td>
	</tbody>
</tr>{% else %}
<tr>
	<td colspan="5">no records found</td>
</tr>{% endfor %}</tbody></table><a href="{{ path('emp') }}" class="btn btn-outline-primary">Add Employe</a></div>{% endblock %}
